*.txt
*.tar
activitynet13
dcase
desed
*.log
*.ipynb
*.ipynb_checkpoints
av_features
temp
ONEPEACE_extract_embd_code
youcook2_extract_caption
__pycache__/
*.pyc
OmniRetreiver
data/youcook2_cut/
data/youcookii/omni_emb*.npz
.env
data/youcookii/.cache/
InternVideo/
