*.txt
*.tar
*.log
*.ipynb
*.ipynb_checkpoints
temp
__pycache__/
*.pyc
OmniRetreiver
data/youcook2_cut/
data/youcookii/omni_emb*.npz
data/youcookii/iv2_feats/
.env
data/youcookii/.cache/
InternVideo/
data/demo_videos/
data/demo_cache/
uniav_api/index/
!uniav_api/encoders/bpe/dict.txt
!uniav_api/requirements.txt
ckpt/internvideo2/
!uniav_api/demo_colab.ipynb
ckpt/api/
data/youcookii/iv2_*/
/datasets/
libs/utils/build/
libs/utils/dist/
libs/utils/*.egg-info/
data/coin/iv2_feats/
OV-AVEL/
